[submodule "lib/stm32f411-hal"]
	path = lib/stm32f411-hal
	url = https://github.com/m-kopka/stm32f411-hal.git
[submodule "lib/mini-kernel"]
	path = lib/mini-kernel
	url = https://github.com/m-kopka/mini-kernel.git
